html, body {
    height:100%;
    margin: 0;
    padding:0 ;
}
body {
    font: 13px 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding:0;
}
#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
    padding: 1px;
}
footer{
    height: 2em;
    margin: 1em auto !important;
}

header, section, footer {
    display: block;
    width: 40em;
    margin: 2em auto;

}
section {
    margin: 2em auto 6em;
}
header h1 {
    float:left;
    font-size: 3em;
    margin: 0.2em 0;
}

header nav {
    float:right;
    margin: 2em 0;
}
a {
    text-decoration: none;
    color: #40B086;
}
a:hover {
    text-shadow: 0 0 5px #CCC, 0 1px 1px black;
}
form {
}
input[type="text"],
textarea {
    font: 22px 'Inconsolata', 'Monaco', 'Consolas', monospace;
    border: 1px solid #40B086;
    width: 100%;
    border-radius: 3px;
}

input[type="text"]:focus,
textarea:focus {
    border: 1px solid #61851B;
    border-radius: 3px;
    box-shadow: 0 0 15px #71D20B;
    outline:0;
}
.submit {
    text-align:right;
}
input[type="submit"], 
a.call {
    border: 1px solid #61851B;
    border-radius: 5px;
    background: #40B086;
    padding: 5px;
    margin:0 -5px;
    color: #FFF;
}
input[type="submit"]:hover, 
a.call:hover {
    text-shadow: none; 
    cursor:pointer;
    box-shadow:1px 1px 5px #333;
 }
#qr {
    text-align:middle;
    margin-bottom: 0;
}
 
#qr img {
    display:block;
    margin: 0 auto;
}
pre {
    font: 22px 'Inconsolata', 'Monaco', 'Consolas', monospace;
    white-space: pre-wrap;
    color: #666;
    margin: 0 1em 3em;
}
.clear {
    display:block;
    clear: both;
}
