{% extends "layout.html" %}
{% block title %}
    Sobre el servicio y los que están detras
{% endblock %}
{% block page %}
    <h1>Hacer programas que hagan una cosa y que la hagan bien</h1>
    <p><a href="http://qure.com.ar/">QuRe</a> es un ejemplo de tecnología y un 
servicio simple.</p>
    <p>Está realizado en <a href="http://flask.pocoo.org">flask</a> en pocas lineas de código python, está disponible para su uso en <a href="http://github/Inventta/qure">github</a></p>
    <p>Seguí <a href="http://twitter.com/apanruning">@apanruning</a> en twitter o <a href="mailto:apanruning@gmail.com">envianos un email</a> por cualquier consulta o sugerencia</p>
{% endblock %}
